.dog-tags {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
}

.dog-tag {
    font-family: cursive;
    background-color: goldenrod;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
    border: 3px outset rgba(180,180,180,.5);
}

.dog-products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}

.dog-product {
    display: flex;
    flex-direction: column;
}

.dog-product__price {
    flex: 1;
    margin-bottom: 2rem;
}

.review-form {
    display: flex;
    border: 1px solid rgba;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid rgba(180,180,180,.5);
    border-radius: 5px;
}

.review-form > label {
    margin: .25rem;
}

.review {
    display: flex;
    border: 1px solid rgba(180,180,180,.5);
    border-radius: 5px;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem;
    width: fit-content;
}

.review > p {
    margin: .25rem;
}

/* sorry for not doing more additions to the project */
/* I've just been in a bad place for a minute */

.review-header {
    margin-top: 1rem;
}
/* yee */
.name-input {
    width: 4.5rem;
}

.content-input {
    width: 30rem;
}