{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dog Store</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'base.css' %}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-5">
    <a href="{% url 'home' %}" class="navbar-brand">Dog Store</a>
    <ul class="navbar-nav">
        <li class="nav-item {% if request.resolver_match.url_name == 'home' %}active{% endif %}">
            <a href="{% url 'home' %}" class="nav-link">Dog Products</a>
        </li>
        <li class="nav-item {% if request.resolver_match.url_name == 'new_dog_tag' %}active{% endif %}">
            <a href="{% url 'new_dog_tag' %}" class="nav-link">Create a Dog Tag</a>
        </li>
        <li class="nav-item {% if request.resolver_match.url_name == 'dog_tag_list' %}active{% endif %}">
            <a href="{% url 'dog_tag_list' %}" class="nav-link">View Dog Tags</a>
        </li>
    </ul>
</nav>
<main class="container mt-5">
{% block content %}
{% endblock content %}
</main>
</body>
</html>