{% extends 'base.html' %}
{% block content %}
<div class="card">
    <div class="card-body">
        <h1 class="card-title">{{ dog_product.name }}</h1>
        <dl>
            <dt>Product Type</dt>
            <dd>{{ dog_product.product_type }}</dd>
            <dt>Dog Size</dt>
            <dd>{{ dog_product.dog_size }}</dd>
            <dt>Price</dt>
            <dd>${{ dog_product.price|floatformat:"2" }}</dd>
            <dt>Quantity</dt>
            <dd>{{ dog_product.quantity }}</dd>
        </dl>
        <form action="{% url 'purchase_dog_product' dog_product.id %}" method="post">
            {% csrf_token %}
            <button class="btn btn-primary">Buy {{ dog_product.name }}</button>
        </form>
    </div>
</div>
<div class="review-container">
    <h2 class="review-header">
        Leave a review!
    </h2>
    <form action="{% url 'new_review' dog_product.id %}" class="review-form" method="post">
        {% csrf_token %}
        <label>Name:<input type="text" name="author" class="name-input"></label>
        <label>Thoughts:<input type="text" name="content" class="content-input"></label>
        <label>
            Rating:
            <select name="rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </label>
        <button>
            Submit
        </button>
    </form>
</div>
<h2 class="review-header">
    Previous Customers Reviews!
</h2>
<div class="reviews">
    {% for review in reviews %}
    <div class="review">
        <p>
            {{review.author}} ~
        </p>
        <p>
            {{review.content}}
        </p>
        <p>
           || {{review.rating}} Stars
        </p>
    </div>
    {% endfor %}
</div>
{% endblock content %}